# PROXMOX VE Specific configuration

PVE_PROXMOX_HOST=proxmox.example.internal
PVE_PROXMOX_NODE=pve-node-01
PVE_PROXMOX_USER=controller-user@pve
PVE_PROXMOX_TOKEN_NAME=controller
PVE_PROXMOX_TOKEN_SECRET=<secret>
PVE_PROXMOX_VERIFY_TLS=true
PVE_PROXMOX_TIMEOUT=5.0
PVE_PROXMOX_TASK_TIMEOUT=120.0
PVE_PROXMOX_SHUTDOWN_TIMEOUT=120.0
PVE_PROXMOX_CA_FILE=./config/pve-root-ca.pem
PVE_PROXMOX_TLS_SERVER_NAME=pve-node-01.example.internal

# ------------------------------------- #

# AWS Specific configuration

WPC_AWS_REGION=us-east-1
WPC_AWS_PROFILE=
WPC_AWS_ENDPOINT_URL=
WPC_AWS_TIMEOUT=5.0
WPC_AWS_OPERATION_TIMEOUT=120.0

# ------------------------------------- #